<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <a class="navbar-brand" href="http://localhost:4200/home">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:4200/user">Utilisateur <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/role">Role</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/table">Table</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/plat">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/reservation">Reservation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/commande">Commande</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Ajout
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="http://localhost:4200/user/save">User</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="http://localhost:4200/role/save">Role</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="http://localhost:4200/table/save">Table</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="http://localhost:4200/plat/save">Plat</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="http://localhost:4200/reservation/save">Reservation</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="http://localhost:4200/commande/save">Commande</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="http://localhost:4200/facture/save">Facture</a>

          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/facture">Historique</a>
        </li>
      </ul>
    </div>
  </nav>