<h1>Historique des Factures</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Montant</th>
            <th scope="col">Nom de la reservation</th>
            <th scope="col">Date</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let unFacture of listFacture">
            <td>{{unFacture.idfacture}}</td>
            <td>{{unFacture.montant}}</td>
            <td>{{unFacture.commande.reservation.client.nomuser}}-{{unFacture.commande.reservation.client.prenomuser}}</td>
            <td>{{unFacture.commande.reservation.datereservation | date :'short':'UTC+0':'fr'}}</td>
            

        </tr>
    </tbody>
</table>