<h1>Modifier table</h1>
<div class="container" style=" border-radius: 10px ;">

    
    <form>
    
        <div class="form-group">
            <label for="serveur">Serveur</label>
            <select class="form-control" name="serveur" id="serveur" [compareWith]="compareFn" [(ngModel)]="newTable.serveur">
                <option *ngFor="let unUser of listUser" [ngValue]="unUser">{{unUser.nomuser}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="disponible">Disponibilité</label>
            <select class="form-control" name="disponible" id="disponible" [compareWith]="compareFn" [(ngModel)]="newTable.disponible">
                <option value="false">Indisponible</option>
                <option value="true">Disponible</option>
            </select>
          </div>

        <button type="submit" (click)="updateTable(newTable.idtable,newTable)" class="btn btn-primary">Modifier</button>
      </form>
    </div>