<h1>Modifier Plat</h1>
<div class="container" style=" border-radius: 10px ;">

    
    <form>
        <div class="form-group">
          <label for="nomplat">Nom</label>
          <input name="nomplat" type="text" class="form-control"  [(ngModel)]="newPlat.nomplat" >
        </div>

        <div class="form-group">
          <label for="prixplat">Prix</label>
          <input name="prixplat" type="text" class="form-control" [(ngModel)]="newPlat.prixplat">
        </div>

                  



        <button type="submit" (click)="updatePlat(newPlat.idplat,newPlat)" class="btn btn-primary">Modifier</button>
      </form>
    </div>