<h1>Liste des Utilisateurs</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Mot de passe</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let unUser of listUser">
            <td>{{unUser.iduser}}</td>
            <td>{{unUser.nomuser}}</td>
            <td>{{unUser.prenomuser}}</td>
            <td>{{unUser.password}}</td>
            <td>{{unUser.role.nomrole}}</td>
            <td>
                <a [routerLink] = "['update/'+unUser.iduser]" class="btn btn-primary btn-sm"> Modifier </a>
                <a type="submit" class="btn btn-danger btn-sm" (click)='deleteUser(unUser.iduser)' name="unUser.iduser" >Supprimer</a>
            </td>
        </tr>
    </tbody>
</table>