#c1{
    background-color: lightyellow;
    
    }
    #c2{
      color:white;
        
        }
        h1{
            color
            : white;
        }
    #h2{
            color
            : rgb(34, 13, 13);
        }
        #c3{
            background-color:rgb(231, 223, 144);
              
              }
