<h1>List des Commande</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Reservation</th>
            <th scope="col">Total</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let unCommande of listCommande">
            <td>{{unCommande.idcommande}}</td>
            <td>{{unCommande.reservation.client.nomuser}}-Table {{unCommande.reservation.table.idtable}}</td>
            <td>{{unCommande.total}}€</td>
            <td><a [routerLink] = "['/elementcommande/'+unCommande.idcommande]" class="btn btn-primary btn-sm"> Details </a></td>

        </tr>
    </tbody>
</table>