
<h1>Créer facture</h1>
<div class="container" style=" border-radius: 10px ;">

    
    <form>

                  
        <div class="form-group">
            <label for="commande">Commande</label>
            <select class="form-control" name="commande" id="commande" [(ngModel)]="newFacture.commande">
                <option *ngFor="let unCommande of listCommande" [ngValue]="unCommande">{{unCommande.reservation.client.nomuser}}-Table {{unCommande.reservation.table.idtable}}</option>
            </select>
          </div>


        <button type="submit" (click)="createFacture()" class="btn btn-primary">Créer</button>
      </form>
    </div>