
a<h1>Créer facture</h1>
<div class="container">

    
    <form>

                  
        <div class="form-group">
            <label for="reservation">Reservation</label>
            <select class="form-control" name="reservation" id="reservation" [(ngModel)]="newFacture.reservation">
                <option *ngFor="let unReservation of listReservation" [ngValue]="unReservation">{{unReservation.client}}-{{unReservation.table}}</option>
            </select>
          </div>


        <button type="submit" (click)="createFacture()" class="btn btn-primary">Créer</button>
      </form>
    </div>