<h1>Faire une Commande</h1>
<div class="container">

    
<form>
                  
        <div class="form-group">
            <label for="reservation">Reservation/Table</label>
            <select class="form-control" name="reservation" id="reservation" [(ngModel)]="newCommande.reservation">
                <option *ngFor="let unReservation of listReservation" [ngValue]="unReservation">{{unReservation.client.nomuser}}-Table {{unReservation.table.idtable}}</option>
            </select>
          </div>


        <button type="submit" (click)="createCommande()" class="btn btn-primary">Commander</button>
        <a [routerLink] = "['/elementcommande/save']" class="btn btn-primary btn-sm"> Commander </a>
      </form>
    </div>